<ion-content class="background">
  <ion-header [translucent]="true">
    <ion-toolbar>
      <ion-title>Reestablecer contraseña </ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>
  
    <div class="centrado-vertical">
      <div class="marco">
        <ion-item>
          <ion-input>
            Ingresar correo
          </ion-input>
        </ion-item>
        
        <div class="alinear-centro">
          <ion-button (click)="passwordchange()">
            Recuperar
          </ion-button>        
        </div>
  
      </div>
    </div>
    
  </ion-content>
  
  </ion-content>